nav{
    margin-top: 15px;
    ul{
        list-style-type: none;
        li{
            display: inline-block;
            margin: 0 15px;
            a{
                display: inline-block;
                color: white;
                text-decoration: none;
                padding: 20px;
                transition: .4s;
                border-radius: 5px;
                @include setFontsize(medium);
            }
            a:hover{
                background: black;
                }
        
        }
    }
}