
/* browser reset code*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*---------Extend----------*/
.btn{
    border: none;
    padding: 15px 30px;
    text-align: 16px;
    cursor: pointer;
}
.btn-download{
    @extend .btn;
    background:palevioletred;
}
.learn-more{
    @extend .btn;
    background: #b81337;
}


/*----------mixin------------*/
@mixin para-style ($size,$style){
    font-size: $size;
    text-align: $style;
    margin: 10px;
}
#about p{
    @include para-style(20px,left);
    
}
#education p{
    @include para-style(16px,justify);
}
/*-------variable--------*/

$header-bgcoloc:#ffab73;
$main-bgcolor:#ffd384;
$footer-bgcolor:#ffaec0;

$para-fontsize:15px;

header{
    background: $header-bgcoloc;
}

nav{
    margin-top: 15px;
    ul{
        list-style-type: none;
        li{
            display: inline-block;
            margin: 0 15px;
            a{
                display: inline-block;
                color: white;
                text-decoration: none;
                padding: 10px;
                transition: .4s;
                border-radius: 5px;
            }
            a:hover{
                background: black;
                }
        
        }
    }
}

main{
    background: $main-bgcolor;
}
/*footer{
    background: $footer-bgcolor;
}
#about p{
    font-size: $para-fontsize;
}*/