*{
  box-sizing: border-box;
}

.container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    width: 20%;
    min-width: 300px;
    background-color:rgb(240, 240, 240);
    padding: 20px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 20px;
  
  }

  .card p {
    opacity: 0.7;
  }

  .card .buy{
    background-color: rgb(56, 11, 97);
    color: white;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
  
  }

  .card .buy:hover{
    background-color: aqua;
    color: black;
  }

  .card .checkbox{
    position: absolute;
  top: 10px;
  left: 10px;
    
  }

  
  .card:nth-child(even){

    
    
  }

 
